<div class="docnav">
    <div class="nav-docs-section">
      <h2>react API</h3>
      <ul>
          <li>
            <a href="http://www.react-cn.com/api/state.html" class="active">state</a>
          </li>
          <li>
            <a href="http://www.react-cn.com/api/props.html" >props</a>
          </li>
          <li>
            <a href="http://www.react-cn.com/api/refs.html" >refs</a>
          </li>
          <li>
            <a href="http://www.react-cn.com/api/getInitialState.html" >getInitialState</a>
          </li>
          <li>
            <a href="http://www.react-cn.com/api/componentWillMount.html" >componentWillMount</a>
          </li>
          <li>
            <a href="http://www.react-cn.com/api/componentDidMount.html" >componentDidMount</a>
          </li>
          <li>
            <a href="http://www.react-cn.com/api/componentWillReceiveProps.html" >componentWillReceiveProps</a>
          </li>
          <li>
            <a href="http://www.react-cn.com/api/shouldComponentUpdate.html" >shouldComponentUpdate</a>
          </li>
          <li>
            <a href="http://www.react-cn.com/api/componentWillUpdate.html" >componentWillUpdate</a>
          </li>
          <li>
            <a href="http://www.react-cn.com/api/componentDidUpdate.html" >componentDidUpdate</a>
          </li>
          <li>
            <a href="http://www.react-cn.com/api/componentWillUnmount.html" >componentWillUnmount</a>
          </li>
          <li>
            <a href="http://www.react-cn.com/api/forceUpdate.html" >forceUpdate</a>
          </li>
      </ul>
    </div>
</div>