<footer>
<p>友情链接：<a href="http://www.react-cn.com/" target="_blank">react中国</a> <a href="http://www.react-cn.com/docs/getting-started.html" target="_blank">react 中文文档</a> <a href="http://www.react-cn.com/downloads.html" target="_blank">react.js下载</a> <a href="http://www.lovewebgames.com/" target="_blank">js小游戏</a> <a href="http://www.lovewebgames.com/jsmodule/index.html" target="_blank">jquery插件</a><a href="http://www.react-cn.com/">react中文文档</a></p>
<p>© 2016-2017 <a href="http://www.react-cn.com/">react中文资料</a> 版权所有 ICP证：浙ICP备09082150号-3</p>
<script>
(function(){
    var bp = document.createElement('script');
    var curProtocol = window.location.protocol.split(':')[0];
    if (curProtocol === 'https') {
        bp.src = 'https://zz.bdstatic.com/linksubmit/push.js';
    }
    else {
        bp.src = 'http://push.zhanzhang.baidu.com/push.js';
    }
    var s = document.getElementsByTagName("script")[0];
    s.parentNode.insertBefore(bp, s);
})();
</script>

<script>window._bd_share_config={"common":{"bdSnsKey":{},"bdText":"","bdMini":"2","bdMiniList":false,"bdPic":"","bdStyle":"0","bdSize":"16"},"slide":{"type":"slide","bdImg":"5","bdPos":"right","bdTop":"91.5"},"image":{"viewList":["qzone","tsina","tqq","weixin","tieba","sqq"],"viewText":"分享到：","viewSize":"16"},"selectShare":{"bdContainerClass":null,"bdSelectMiniList":["qzone","tsina","tqq","weixin","tieba","sqq"]}};with(document)0[(getElementsByTagName('head')[0]||body).appendChild(createElement('script')).src='http://bdimg.share.baidu.com/static/api/js/share.js?v=89860593.js?cdnversion='+~(-new Date()/36e5)];</script>
</footer>
</body>
</html>