@import 'base';
header{
	background-color: blue;
	height: 60px;
	a{
		color:#fff;
	}
	.logo{
		width:120px;
		display: inline-block;
		text-align: center;
		font-weight: bold;
		@extend .fontSize16;
	}
	.menu{
		text-align: right;
		line-height: 60px;
		display: inline-block;
	}
}