<div class="docnav">
    <div class="nav-docs-section">
      <h3>react插件</h3>
      <ul>
            <li>
            <a href="%baseDomain%addons/animation.html" @@if(context.focus=='animation'){class="active"}>动画</a>
            </li>
            <li>
            <a href="%baseDomain%addons/two-way-binding-helpers.html" @@if(context.focus=='two-way-binding-helpers'){class="active"}>双向绑定辅助</a>
            </li>
            <li>
            <a href="%baseDomain%addons/test-utils.html" @@if(context.focus=='test-utils'){class="active"}>测试工具</a>
            </li>
            <li>
            <a href="%baseDomain%addons/clone-with-props.html" @@if(context.focus=='clone-with-props'){class="active"}>克隆 ReactElements</a>
            </li>
        
            <li>
            <a href="%baseDomain%addons/create-fragment.html" @@if(context.focus=='create-fragment'){class="active"}>Keyed Fragments</a>
            </li>
            <li>
            <a href="%baseDomain%addons/update.html" @@if(context.focus=='update'){class="active"}>immutability 助手</a>
            </li>
            <li>
            <a href="%baseDomain%addons/pure-render-mixin.html" @@if(context.focus=='pure-render-mixin'){class="active"}>PureRenderMixin</a>
            </li>
            <li>
            <a href="%baseDomain%addons/perf.html" @@if(context.focus=='perf'){class="active"}>性能工具</a>
            </li>
            <li>
            <a href="%baseDomain%addons/shallow-compare.html" @@if(context.focus=='shallow-compare'){class="active"}>浅比较</a>
            </li>
      </ul>
    </div>
</div>