<div class="docnav">
    <div class="nav-docs-section">
      <h2>react API</h3>
      <ul>
          <li>
            <a href="%baseDomain%api/state.html" @@if(context.focus=='state'||!context.focus){class="active"}>state</a>
          </li>
          <li>
            <a href="%baseDomain%api/setState.html" @@if(context.focus=='setState'||!context.focus){class="active"}>setState</a>
          </li>
          <li>
            <a href="%baseDomain%api/props.html" @@if(context.focus=='props'){class="active"}>props</a>
          </li>
          <li>
            <a href="%baseDomain%api/refs.html" @@if(context.focus=='refs'){class="active"}>refs</a>
          </li>
          <li>
            <a href="%baseDomain%api/getInitialState.html" @@if(context.focus=='getInitialState'){class="active"}>getInitialState</a>
          </li>
          <li>
            <a href="%baseDomain%api/componentWillMount.html" @@if(context.focus=='componentWillMount'){class="active"}>componentWillMount</a>
          </li>
          <li>
            <a href="%baseDomain%api/componentDidMount.html" @@if(context.focus=='componentDidMount'){class="active"}>componentDidMount</a>
          </li>
          <li>
            <a href="%baseDomain%api/componentWillReceiveProps.html" @@if(context.focus=='componentWillReceiveProps'){class="active"}>componentWillReceiveProps</a>
          </li>
          <li>
            <a href="%baseDomain%api/shouldComponentUpdate.html" @@if(context.focus=='shouldComponentUpdate'){class="active"}>shouldComponentUpdate</a>
          </li>
          <li>
            <a href="%baseDomain%api/componentWillUpdate.html" @@if(context.focus=='componentWillUpdate'){class="active"}>componentWillUpdate</a>
          </li>
          <li>
            <a href="%baseDomain%api/componentDidUpdate.html" @@if(context.focus=='componentDidUpdate'){class="active"}>componentDidUpdate</a>
          </li>
          <li>
            <a href="%baseDomain%api/componentWillUnmount.html" @@if(context.focus=='componentWillUnmount'){class="active"}>componentWillUnmount</a>
          </li>
          <li>
            <a href="%baseDomain%api/forceUpdate.html" @@if(context.focus=='forceUpdate'){class="active"}>forceUpdate</a>
          </li>
      </ul>
    </div>
</div>