<div class="docnav">
    <div class="nav-docs-section">
      <h3>快速入门</h3>
      <ul>
          <li>
            <a href="%baseDomain%docs/getting-started.html" @@if(context.focus=='getting-started'||!context.focus){class="active"}>快速开始</a>
          </li>
          <li>
            <a href="%baseDomain%docs/tutorial.html" @@if(context.focus=='tutorial'){class="active"}>教程</a>
          </li>
          <li>
            <a href="%baseDomain%docs/thinking-in-react.html" @@if(context.focus=='thinking-in-react'){class="active"}>React编程思想</a>
          </li>
      </ul>
    </div>
    <div class="nav-docs-section">
      <h3>导航</h3>
      <ul>
          <li>
            <a href="%baseDomain%docs/why-react.html" @@if(context.focus=='why-react'){class="active"}>为什么使用React?</a>
          </li>
          <li>
            <a href="%baseDomain%docs/displaying-data.html" @@if(context.focus=='displaying-data'){class="active"}>显示数据</a>
            <ul>
                  <li>
                    <a href="%baseDomain%docs/jsx-in-depth.html" @@if(context.focus=='jsx-in-depth'){class="active"}>深入 JSX</a>
                  </li>
                
                  <li>
                    <a href="%baseDomain%docs/jsx-spread.html" @@if(context.focus=='jsx-spread'){class="active"}>JSX 展开属性</a>
                  </li>
                
                  <li>
                    <a href="%baseDomain%docs/jsx-gotchas.html" @@if(context.focus=='jsx-gotchas'){class="active"}>JSX 陷阱</a>
                  </li>
              </ul>
          </li>
          <li>
            <a href="%baseDomain%docs/interactivity-and-dynamic-uis.html" @@if(context.focus=='interactivity-and-dynamic-uis'){class="active"}>动态交互式用户界面</a>
          </li>
          <li>
            <a href="%baseDomain%docs/reusable-components.html" @@if(context.focus=='reusable-components'){class="active"}>可复用组件</a>
          </li>
          <li>
            <a href="%baseDomain%docs/transferring-props.html" @@if(context.focus=='transferring-props'){class="active"}>传递 Props</a>
          </li>
          <li>
            <a href="%baseDomain%docs/forms.html" @@if(context.focus=='forms'){class="active"}>表单组件</a>
          </li>
          <li>
            <a href="%baseDomain%docs/working-with-the-browser.html" @@if(context.focus=='working-with-the-browser'){class="active"}>与浏览器协作</a>
              <ul>
                <li>
                  <a href="%baseDomain%docs/more-about-refs.html" @@if(context.focus=='more-about-refs'){class="active"}>对组件的refs</a>
                </li>
              </ul>
          </li>
          <li>
            <a href="%baseDomain%docs/tooling-integration.html" @@if(context.focus=='tooling-integration'){class="active"}>工具集成</a>
            
              <ul>
                
                  <li>
                    <a href="%baseDomain%docs/language-tooling.html" @@if(context.focus=='language-tooling'){class="active"}>语言工具</a>
                  </li>
                
                  <li>
                    <a href="%baseDomain%docs/package-management.html" @@if(context.focus=='package-management'){class="active"}>包管理</a>
                  </li>
                
                  <li>
                    <a href="%baseDomain%docs/environments.html" @@if(context.focus=='environments'){class="active"}>服务端环境</a>
                  </li>
              </ul>
          </li>
          <li>
            <a target="_blank" href="%baseDomain%addons/index.html" @@if(context.focus=='addons'){class="active"}>插件</a>
          </li>
          <li>
            <a href="%baseDomain%docs/advanced-performance.html" @@if(context.focus=='advanced-performance'){class="active"}>先进的性能</a>
          </li>
          <li>
            <a href="%baseDomain%docs/context.html" @@if(context.focus=='context'){class="active"}>Context</a>
          </li>
      </ul>
    </div>
    <div class="nav-docs-section">
      <h3>社区资源</h3>
      <ul>
          <li>
            <a href="%baseDomain%docs/conferences.html" @@if(context.focus=='conferences'){class="active"}>会议</a>
          </li>
          <li>
            <a href="%baseDomain%docs/videos.html" @@if(context.focus=='videos'){class="active"}>视频</a>
          </li>
          <li>
            <a href="%baseDomain%docs/complementary-tools.html" @@if(context.focus=='complementary-tools'){class="active"}>辅助工具</a>
          </li>
          <li>
            <a href="%baseDomain%docs/examples.html" @@if(context.focus=='examples'){class="active"}>react例子</a>
          </li>
      </ul>
    </div>
</div>