<div class="docnav">
    <div class="nav-docs-section">
      <h3>快速入门</h3>
      <ul>
          <li>
            <a href="/docs/getting-started.html" @@if(context.focus=='getting-started'||!context.focus){class="active"}>快速开始</a>
          </li>
          <li>
            <a href="/docs/tutorial.html" @@if(context.focus=='tutorial'){class="active"}>教程</a>
          </li>
          <li>
            <a href="/docs/thinking-in-react.html" @@if(context.focus=='thinking-in-react'){class="active"}>React编程思想</a>
          </li>
      </ul>
    </div>
    <div class="nav-docs-section">
      <h3>社区资源</h3>
      <ul>
          <li>
            <a href="/docs/conferences.html" @@if(context.focus=='conferences'){class="active"}>会议</a>
          </li>
          <li>
            <a href="/docs/videos.html" @@if(context.focus=='videos'){class="active"}>视频</a>
          </li>
          <li>
            <a href="/docs/complementary-tools.html" @@if(context.focus=='complementary-tools'){class="active"}>辅助工具</a>
          </li>
          <li>
            <a href="/docs/examples.html" @@if(context.focus=='examples'){class="active"}>react例子</a>
          </li>
      </ul>
    </div>
    <div class="nav-docs-section">
      <h3>导航</h3>
      <ul>
          <li>
            <a href="/docs/why-react.html" @@if(context.focus=='why-react'){class="active"}>为什么使用React?</a>
          </li>
          <li>
            <a href="/docs/displaying-data.html" @@if(context.focus=='displaying-data'){class="active"}>显示数据</a>
            <ul>
                  <li>
                    <a href="/docs/jsx-in-depth.html" @@if(context.focus=='jsx-in-depth'){class="active"}>深入 JSX</a>
                  </li>
                
                  <li>
                    <a href="/docs/jsx-spread.html" @@if(context.focus=='jsx-spread'){class="active"}>JSX 展开属性</a>
                  </li>
                
                  <li>
                    <a href="/docs/jsx-gotchas.html" @@if(context.focus=='jsx-gotchas'){class="active"}>JSX 陷阱</a>
                  </li>
              </ul>
          </li>
          <li>
            <a href="/docs/interactivity-and-dynamic-uis.html" @@if(context.focus=='interactivity-and-dynamic-uis'){class="active"}>动态交互式用户界面</a>
          </li>
          <li>
            <a href="/docs/reusable-components.html" @@if(context.focus=='reusable-components'){class="active"}>可复用组件</a>
          </li>
          <li>
            <a href="/docs/transferring-props.html" @@if(context.focus=='transferring-props'){class="active"}>传递 Props</a>
          </li>
          <li>
            <a href="/docs/forms.html" @@if(context.focus=='forms'){class="active"}>表单组件</a>
          </li>
          <li>
            <a href="/docs/working-with-the-browser.html" @@if(context.focus=='working-with-the-browser'){class="active"}>与浏览器协作</a>
              <ul>
                <li>
                  <a href="/docs/more-about-refs.html" @@if(context.focus=='more-about-refs'){class="active"}>对组件的refs</a>
                </li>
              </ul>
          </li>
          <li>
            <a href="/docs/tooling-integration.html" @@if(context.focus=='tooling-integration'){class="active"}>工具集成</a>
            
              <ul>
                
                  <li>
                    <a href="/docs/language-tooling.html" @@if(context.focus=='language-tooling'){class="active"}>语言工具</a>
                  </li>
                
                  <li>
                    <a href="/docs/package-management.html" @@if(context.focus=='package-management'){class="active"}>包管理</a>
                  </li>
                
                  <li>
                    <a href="/docs/environments.html" @@if(context.focus=='environments'){class="active"}>服务端环境</a>
                  </li>
                
              </ul>
            
          </li>
        
          <li>
            <a href="/docs/addons.html" @@if(context.focus=='addons'){class="active"}>Add-Ons</a>
            
              <ul>
                
                  <li>
                    <a href="/docs/animation.html" @@if(context.focus=='animation'){class="active"}>Animation</a>
                  </li>
                
                  <li>
                    <a href="/docs/two-way-binding-helpers.html" @@if(context.focus=='two-way-binding-helpers'){class="active"}>Two-Way Binding Helpers</a>
                  </li>
                
                  <li>
                    <a href="/docs/test-utils.html" @@if(context.focus=='test-utils'){class="active"}>Test Utilities</a>
                  </li>
                
                  <li>
                    <a href="/docs/clone-with-props.html" @@if(context.focus=='clone-with-props'){class="active"}>Cloning Elements</a>
                  </li>
                
                  <li>
                    <a href="/docs/create-fragment.html" @@if(context.focus=='create-fragment'){class="active"}>Keyed Fragments</a>
                  </li>
                
                  <li>
                    <a href="/docs/update.html" @@if(context.focus=='update'){class="active"}>Immutability Helpers</a>
                  </li>
                
                  <li>
                    <a href="/docs/pure-render-mixin.html" @@if(context.focus=='pure-render-mixin'){class="active"}>PureRenderMixin</a>
                  </li>
                
                  <li>
                    <a href="/docs/perf.html" @@if(context.focus=='perf'){class="active"}>Performance Tools</a>
                  </li>
                
                  <li>
                    <a href="/docs/shallow-compare.html" @@if(context.focus=='shallow-compare'){class="active"}>Shallow Compare</a>
                  </li>
                
              </ul>
            
          </li>
        
          <li>
            <a href="/docs/advanced-performance.html" @@if(context.focus=='advanced-performance'){class="active"}>Advanced Performance</a>
            
          </li>
        
          <li>
            <a href="/docs/context.html" @@if(context.focus=='context'){class="active"}>Context</a>
            
          </li>
        
      </ul>
    </div>
</div>