<!DOCTYPE html>
<html lang="zh">
<head>
	<meta charset="UTF-8">
	<title>@@if(!context.title){React中国-Reactjs中文教程-React中文资料-react中文文档-react中文api-react 中文官网-react.js api}@@if(context.title){@@context.title}</title>
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="renderer" content="webkit|ie-comp|ie-stand">
	<meta name="keywords" content="@@if(!context.keywords){React,react中文文档-react中文api-react 中文官网}@@if(context.keywords){@@context.keywords}" />
	<meta name="description" content="@@if(!context.desc){React中文教程,react中文文档,react.js中文,api,官网,Reactjs下载,jsx语法,react api}@@if(context.desc){@@context.desc}" />
	<link rel="stylesheet" href="%baseDomain%css/css.css">
	<link rel="shortcut icon" href="%baseDomain%favicon.ico">
</head>
<body>
<header>
	<h1><a class="logo" href="%baseDomain%"><img class="nav-logo" src="%baseDomain%/logo.svg" width="36" height="36">React中国</a></h1>
	<nav class="menu">
		<a href="%baseDomain%index.html" @@if(context.menu=='home'||!context.menu){class="active"}>首页</a>
		<a href="%baseDomain%downloads.html" @@if(context.menu=='download'){class="active"}>下载</a>
		<a href="%baseDomain%docs/getting-started.html" @@if(context.menu=='doc'){class="active"}>react中文文档</a>
		<a href="%baseDomain%api/index.html" @@if(context.menu=='api'){class="active"}>react api</a>
		<a href="%baseDomain%addons/index.html" @@if(context.menu=='addons'){class="active"}>react 工具</a>
		<a href="%baseDomain%plugin.html" @@if(context.menu=='plugin'){class="active"}>react 插件</a>
		<a href="%baseDomain%docs/examples.html" @@if(context.menu=='examples'){class="active"}>例子</a>
	</nav>
	<div class="submenu">
		<a target="_blank" href="%baseDomain%/shang.qq.com/wpa/qunwpa?idkey=db86a206a1e04f114217ccffd92ee11f5faca14d283a71d97817937ee3cf9d00"><img border="0" src="http://pub.idqqimg.com/wpa/images/group.png" alt="reactjs、reactnative技术群" title="reactjs、reactnative技术群"></a>
		<h2 class="download"><a href="%baseDomain%downloads.html" class="button">下载 React v16.0.0</a></h2>
		<!--<a href="%baseDomain%reactnative/index.html">React Native中文资料</a>-->
	</div>
</header>